html {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

body {
    margin: 0;
    background-color: rgb(233, 227, 218);
}

header {
    background-color: rgb(87, 97, 107);
    color: rgb(236, 223, 223);
    padding: 3rem 2rem;
}

header h1 {
    font-size: 4rem;
}

.container {
    width: 500px;
    margin: 0 auto;
}

section article {
    transition: box-shadow 0.3s ease;
    background-color:beige;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
}

section article:hover {
    box-shadow: 0 0.1rem 0.35rem rgb(114, 88, 139);
}

footer {
    background-color: darkslategray;
    padding: 3rem;
    color: white;
}

footer section {
    float: right;
}

footer p {
    margin: 0 ;
    float: left;
}

footer a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    color: rgb(56, 0, 177);
}
